<%- include('../partials/header') %>
    <h2>All Flights</h2>
		<table> 
			<tr> 
				<th>Airline</th>
				<th>Airport</th>
				<th>Flight No.</th> 
				<th>Date</th>
				<th>Time</th>
			</tr>
			<% flights.forEach(f => { %>
			<tr> 
				<td><%= f.airline %> </td>
				<td><%= f.airport %> </td>
				<td><%= f.flightNo %> </td>	
				<!-- splits long date into date and time -->
				<td><%= f.departs.toDateString() %> </td>	
				<td><%= f.departs.toLocaleTimeString() %> </td>	
				<td><button><a href="/flights/<%= f._id %>">DETAILS</a></button></td>		
			</tr>
			<% }); %>
		</table>
</body>
</html>